

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">UGotTime?</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="#/mainPageAdmin">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" >Inbox/Outbox <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ><a href="#/inboxPageAdmin">Inbox</a></li>
                    <li ><a href="#/outboxPageAdmin">Outbox</a></li>
                </ul>
            </li>
            <li ><a href="#/messagePageAdmin">Message</a></li>
            <li ><a href="#/deleteAdmin">AdminPanel</a></li>
            <li  class="active"><a href="#/logPageAdmin">LogPage</a></li>
             <li ng-controller="logoutCtrl" ng-click="logo()"><a >Logout</a></li>

        </ul>
    </div>
</nav>




<table id = "xd" class="table">
    <thead>
    <tr>
        <th>username</th>
        <th>loginTime</th>
        <th>logoutTime</th>
        <th>Token</th>
    </tr>
    </thead>
    <tbody id="burasi">
        <tr ng-repeat='message in userss'>
            <td> {{message.username}} </td>
            <td> {{message.loginTime}} </td>
             <td> {{message.logoutTime}} </td>
              <td> {{message.token}} </td>
            </tr>
        
    </tbody>
</table>





