
<div id="container">


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">UGotTime?</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/mainPage">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" >Inbox/Outbox <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ><a href="#/inboxPage">Inbox</a></li>
                    <li ><a href="#/outboxPage">Outbox</a></li>
                </ul>
            </li>
            <li ><a href="#/messagePage">Message</a></li>
             <li ng-controller="logoutCtrl" ng-click="logo()"><a >Logout</a></li>

        </ul>
    </div>
</nav>

<div class="container">
    <h3>Welcome to UGotTime?</h3>
    <div class="col-sm-12">
        <img src="images/Unknown.png" class="img-rounded" alt="Cinque Terre" width="304" height="236" >
    </div>
</div>

</div>

