
   



<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">UGotTime?</a>
        </div>
        <ul class="nav navbar-nav">
            <li  ><a href="#/loginPage">Login</a></li>

            <li  class="active"><a href="#/signupPage">Signup</a></li>

        </ul>
    </div>
</nav>

<div class="container">
    <h2>Please enter your information below:</h2>

    <form>
        <div class="form-group">
            <label for="usrn">Username:</label>
            <input type="text" class="form-control" ng-model="users.username">
        </div>
        <div class="form-group">
            <label for="psw">Password:</label>
            <input type="password" class="form-control" ng-model="users.password">
        </div>
        <div class="form-group">
            <label for="nme">Name:</label>
            <input type="text" class="form-control" ng-model="users.name">
        </div>
        <div class="form-group">
            <label for="srn">Surname:</label>
            <input type="text" class="form-control" ng-model="users.surname">
        </div>
        <div class="form-group">
            <label for="dte">Date:</label>
            <input type="text" class="form-control" ng-model="users.birthday">
        </div>
        <div class="form-group">
            <label for="gnd">Gender:</label>
            <input type="text" class="form-control" ng-model="users.gender">
        </div>
        <div class="form-group">
            <label for="eml">Email:</label>
            <input type="text" class="form-control" ng-model="users.email">
        </div>

    </form>
</div>




<div class="container">
    <div class="col-sm-5">
        <button type="button" class="btn btn-success" value="Save" ng-click="save()">Let's Go</button>
    </div>
</div>


